<mat-toolbar style="justify-content: center" class="nav-bar-wrapper">
  <div class="container nav-bar-container">
    <div class="nav-menu-container">
      <h1 class="logo">{{ appName }}</h1>
      <ul class="nav-menu-container">
        @for (menu of appBarMenu; track $index) {
        <li>
          <ng-container *ngIf="!menu?.subMenu">
            <a
              [routerLink]="menu?.navigateTo"
              class="link"
              routerLinkActive="active-link"
              >{{ menu?.name }}</a
            >
          </ng-container>
          <ng-container *ngIf="menu?.subMenu && menu?.subMenu?.length">
            <app-menu [label]="menu?.name" [menu]="menu.subMenu"></app-menu>
          </ng-container>
        </li>
        }
      </ul>
    </div>
    <div class="profile-container">
      <span (click)="theme.toggleTheme()" class="icon-btn">
        <mat-icon
          fontIcon="dark_mode"
          *ngIf="theme.currentTheme === 'light-theme'"
        ></mat-icon>
        <mat-icon
          fontIcon="light_mode"
          *ngIf="theme.currentTheme === 'dark-theme'"
        ></mat-icon>
      </span>
      <app-avatar></app-avatar>
    </div>
  </div>
</mat-toolbar>
