<mat-form-field [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  @if (!isTextArea) {
  <input
    matInput
    [readonly]="readonly"
    [disabled]="disabled"
    [formControl]="control | formControl"
    [type]="type"
    [maxlength]="maxLength"
  />
  } @else {
  <textarea
    matInput
    [readonly]="readonly"
    [disabled]="disabled"
    [formControl]="control | formControl"
  ></textarea>
  }
  <mat-error *ngIf="error && !readonly">{{ error }}</mat-error>
</mat-form-field>
