<div class="mat-elevation-z8" *ngIf="data?.length">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of columnSchema">
      <ng-container
        matColumnDef="{{ column?.accessor }}"
        *ngIf="column?.accessor && !column?.actions && !column?.template"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column?.label }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.[column?.accessor] }}
        </td>
      </ng-container>
      <ng-container
        matColumnDef="{{ column?.accessor }}"
        *ngIf="column?.template"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column?.label }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container
            *ngTemplateOutlet="
              column?.template;
              context: { $implicit: element }
            "
          ></ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions" *ngIf="column?.actions">
        <th mat-header-cell *matHeaderCellDef>{{ column?.label }}</th>
        <td mat-cell *matCellDef="let element; let index = index">
          <ng-container *ngFor="let btnAction of column?.actions">
            {{ btnAction?.isDisabled }}
            <button
              color="{{ btnAction?.iconColor }}"
              mat-icon-button
              (click)="handleActionClick(btnAction?.name, element, index)"
              type="button"
              [disabled]="btnAction?.isDisabled || isActionDisabled"
            >
              <mat-icon [fontIcon]="btnAction?.iconName"></mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    *ngIf="hasPagination"
    [pageSizeOptions]="pageOptions"
    [disabled]="isPaginationDisabled"
    [hidePageSize]="hidePageSize"
    [showFirstLastButtons]="hasFirstLastButton"
  ></mat-paginator>
</div>
<div *ngIf="!data?.length">
  <p>{{ emptyMessage }}</p>
</div>
