<div class="flex-justify-center">
  <div class="container">
    <div>
      <screen-header title="Leave List"></screen-header>
    </div>
    <div class="flex">
      <div class="details-container">
        <ng-container *ngFor="let leave of leaveDetails">
          <div class="details-box">
            <h4 class="user-name">{{ leave?.userName }}</h4>
            <p class="small-text">
              {{ leave?.duration }} -
              <span class="text-bold">{{ leave?.startDate | date }}</span> to
              <span class="text-bold">{{ leave?.endDate | date }}</span>
            </p>
          </div>
        </ng-container>
      </div>
      <div>
        <select-field
          label="Filter Users"
          [options]="users"
          optionLabelKey="firstName"
          (onChange)="onUserSelect($event)"
        ></select-field>
      </div>
    </div>
  </div>
</div>
