<div class="flex-justify-center">
  <div class="container">
    <div>
      <screen-header title="Leave List"></screen-header>
    </div>
    <div class="flex">
      <div class="details-container">
        <div class="nav-container">
          <a [routerLink]="route.LEAVE_LIST_CALENDER_VIEW">Calender</a>
          <a [routerLink]="route.LEAVE_LIST_CARD_VIEW">Card</a>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="filter-container">
        <select-field
          label="Filter Users"
          [options]="users"
          optionLabelKey="firstName"
          (onOptionChange)="onUserSelect($event)"
          (onChange)="onChange($event)"
        ></select-field>
      </div>
    </div>
  </div>
</div>
