<div [formGroup]="contactInfoValue" class="flex-col row-gap-md">
  <h3>{{ isPrimaryInfo ? "Primary" : "Secondary" }} Contact Info</h3>
  <div>
    <text-field
      label="Address"
      [control]="contactInfoValue.get('address')"
      [isTextArea]="true"
      [readonly]="isReadOnly"
      [error]="
        formService.fieldError(
          contactInfoValue.get('address'),
          'address',
          validation
        )
      "
    />
    <text-field
      label="Street"
      [readonly]="isReadOnly"
      [control]="contactInfoValue.get('street')"
      [error]="
        formService.fieldError(
          contactInfoValue.get('street'),
          'street',
          validation
        )
      "
    />
    <text-field
      label="City"
      [readonly]="isReadOnly"
      [control]="contactInfoValue.get('city')"
      [error]="
        formService.fieldError(contactInfoValue.get('city'), 'city', validation)
      "
    />
    <text-field
      label="State"
      [readonly]="isReadOnly"
      [control]="contactInfoValue.get('state')"
      [error]="
        formService.fieldError(
          contactInfoValue.get('state'),
          'state',
          validation
        )
      "
    />
    <text-field
      label="Pin code"
      [readonly]="isReadOnly"
      [maxLength]="6"
      type="number"
      [control]="contactInfoValue.get('pinCode')"
      [error]="
        formService.fieldError(
          contactInfoValue.get('pinCode'),
          'pinCode',
          validation
        )
      "
    />
  </div>
</div>
