<div
  [formGroup]="contactInfoValue"
  style="display: flex; flex-direction: column; gap: 12px"
>
  <h3>{{ isPrimaryInfo ? "Primary" : "Secondary" }} Contact Info</h3>
  <div>
    <text-field
      label="Address"
      [control]="contactInfoValue.get('address')"
      [isTextArea]="true"
      [error]="
        formService.fieldError(
          contactInfoValue.get('address'),
          'address',
          validation
        )
      "
    />
  </div>
  <div>
    <text-field
      label="Street"
      [control]="contactInfoValue.get('street')"
      [error]="
        formService.fieldError(
          contactInfoValue.get('street'),
          'street',
          validation
        )
      "
    />
  </div>
  <div>
    <text-field
      label="City"
      [control]="contactInfoValue.get('city')"
      [error]="
        formService.fieldError(contactInfoValue.get('city'), 'city', validation)
      "
    />
  </div>
  <div>
    <text-field
      label="State"
      [control]="contactInfoValue.get('state')"
      [error]="
        formService.fieldError(
          contactInfoValue.get('state'),
          'state',
          validation
        )
      "
    />
  </div>
  <div>
    <text-field
      label="Pin code"
      [control]="contactInfoValue.get('pinCode')"
      [error]="
        formService.fieldError(
          contactInfoValue.get('pinCode'),
          'pinCode',
          validation
        )
      "
    />
    <check-box-field
      label="Use Primary Contact"
      *ngIf="!isPrimaryInfo"
      [control]="contactInfoValue.get('sameAsPrimary')"
    />
  </div>
</div>
