<mat-form-field [appearance]="appearance" style="display: block">
  <mat-label>{{ label }}</mat-label>
  <input
    type="text"
    matInput
    [matAutocomplete]="auto"
    [value]="selectOption?.[optionLabelKey]"
    [readonly]="!isAutoComplete"
    (input)="onInputChange($event)"
  />
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onOptionChange($event.option.value)"
  >
    <mat-option
      *ngFor="let item of filteredOptions"
      [value]="item"
      >{{ item?.[optionLabelKey] }}</mat-option
    >
  </mat-autocomplete>
</mat-form-field>
