<mat-form-field [appearance]="appearance" style="display: block">
  <mat-label>{{ label }}</mat-label>
  <input
    #inputField
    type="text"
    matInput
    [matAutocomplete]="auto"
    [readonly]="!isAutoComplete"
    (input)="onInputChange($event)"
  />
  <button type="button" mat-icon-button matSuffix (click)="onClear()">
    <mat-icon *ngIf="true">close</mat-icon>
  </button>
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onOptionSelect($event.option.value)"
    [displayWith]="getOption.bind(this)"
  >
    <mat-option
      *ngFor="let item of filteredOptions"
      [value]="item"
      >{{ item?.[optionLabelKey] }}</mat-option
    >
  </mat-autocomplete>
</mat-form-field>
