$primary_light: "#AFCBFF";
$secondary_light: "#D8B4FE";
$tertiary_light: "#FFE8A1";

$success_light: "#BFFCC6";
$error_light: "#FFB3B3";
$warning_light: "#FFFACD";
$info_light: "#B3ECFF";

$background_light: "#FFFFFF";
$surface_light: "#F8F9FA";
$text_primary_light: "#4A4A4A";
$text_secondary_light: "#8C8C8C";
$disabled_light: "#D3D3D3";
$border_light: "#E6E6E6";
$shadow_light: "rgba(0, 0, 0, 0.05)";

$primary_dark: "#AFD";
$secondary_dark: "#D8B4FE";
$tertiary_dark: "#FFE8A1";

$success_dark: "#BFFCC6";
$error_dark: "#FFB3B3";
$warning_dark: "#FFFACD";
$info_dark: "#B3ECFF";

$background_dark: "#FFFFFF";
$surface_dark: "#F8F9FA";
$text_primary_dark: "#4A4A4A";
$text_secondary_dark: "#8C8C8C";
$disabled_dark: "#D3D3D3";
$border_dark: "#E6E6E6";
$shadow_dark: "rgba(0, 0, 0, 0.05)";
