<span class="day-cell-container">
  <div>
    <p class="day-label">
      {{ item.date | date : "d" }}
    </p>
  </div>
  <ng-container *ngIf="!item?.isDisabled">
    <ng-container *ngFor="let leave of collection; let index = index">
      <span
        class="flex indicator-container"
        [ngStyle]="{ top: getPosition(leave?.position) }"
        (click)="onBarClick.emit(leave)"
        [matTooltip]="leave?.userName"
        *ngIf="index < 3"
      >
        <div
          *ngIf="leave"
          class="indicator-bar"
          [ngStyle]="{
                'width':   leave?.start +'%',
              }"
        ></div>
        <div
          *ngIf="leave"
          class="indicator-bar"
          [ngStyle]="{
                'background-color': leave?.barColor || '#00FF',
                'width':  (leave?.end - leave?.start) +'%',
              }"
        ></div>
        <div
          *ngIf="[leave]"
          class="indicator-bar"
          [ngStyle]="{
                'width':  (100-leave?.end) +'%',
              }"
        ></div>
      </span>
    </ng-container>
  </ng-container>
</span>
