<div class="details-container">
  <ng-container *ngIf="filteredDetails?.length">
    <ng-container *ngFor="let leave of filteredDetails">
      <div class="details-box">
        <h4 class="user-name">{{ leave?.userName }}</h4>
        <p class="small-text">
          {{ leave?.duration }} -
          <span class="text-bold">{{ leave?.startDate | date }}</span> to
          <span class="text-bold">{{ leave?.endDate | date }}</span>
        </p>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!filteredDetails?.length">
    <p>Leave Records Not found</p>
  </ng-container>
</div>
