<form [formGroup]="user" (submit)="onSubmit()">
  <div style="display: flex; flex-direction: column; gap: 18px">
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div>
        <h2>User Details Form</h2>
      </div>
      <div style="display: flex; column-gap: 12px">
        <button
          type="submit"
          [disabled]="isView || user.invalid"
          *ngIf="!isView"
        >
          Save
        </button>
        <button type="submit">Apply Leave</button>
        <button type="submit">Cancel</button>
      </div>
    </div>
    <div style="display: flex; gap: 18px">
      <div style="display: flex; flex-direction: column; gap: 12px">
        <h3>Basic Info</h3>
        <div>
          <text-field
            label="First Name"
            [control]="user.get('firstName')"
            [readonly]="isView"
            [error]="
              formService.fieldError(
                user.get('firstName'),
                'firstName',
                validation
              )
            "
          />
        </div>
        <div>
          <text-field
            label="Last Name"
            [control]="user.get('lastName')"
            [readonly]="isView"
            [error]="
              formService.fieldError(
                user.get('lastName'),
                'lastName',
                validation
              )
            "
          />
        </div>
        <div>
          <text-field
            label="Email"
            [readonly]="isView"
            [control]="user.get('email')"
            [error]="
              formService.fieldError(user.get('email'), 'email', validation)
            "
          />
        </div>
        <div>
          <text-field
            label="Phone Number"
            [readonly]="isView"
            [control]="user.get('phoneNo')"
            [maxLength]="10"
            [error]="
              formService.fieldError(user.get('phoneNo'), 'phoneNo', validation)
            "
          />
        </div>
        <div>
          <toggle-field
            label="Status"
            name="status"
            [control]="user.get('status')"
          />
        </div>
      </div>
      <div>
        <contact-info
          [contactInfoValue]="user.get('primaryContactInfo') | formGroup"
          [isReadOnly]="isView"
        />
      </div>
      <div>
        <contact-info
          [contactInfoValue]="user.get('secondaryContactInfo') | formGroup"
          [isPrimaryInfo]="false"
          [isReadOnly]="!!user.get('secondarySameAsPrimary')?.value || isView"
        />
        <check-box-field
          label="Use Primary Contact"
          [control]="user.get('secondarySameAsPrimary')"
        />
      </div>
    </div>
  </div>
</form>
