<form [formGroup]="leaveDetails" (submit)="onSubmit()">
  <div class="flex-justify-center">
    <div class="container">
      <div>
        <screen-header
          title="Leave Form"
          [btnActions]="actions"
          (onActionClick)="onActionClick($event)"
        ></screen-header>
      </div>
      <div style="width: 30%">
        <h2></h2>
        <text-field
          label="Type of Leave"
          [control]="leaveDetails.get('typeOfLeave')"
          [error]="
            formService.fieldError(
              leaveDetails.get('typeOfLeave'),
              'typeOfLeave',
              validation
            )
          "
        ></text-field>
        <text-field
          label="Comment"
          [isTextArea]="true"
          [control]="leaveDetails.get('comment')"
          [error]="
            formService.fieldError(
              leaveDetails.get('comment'),
              'comment',
              validation
            )
          "
        ></text-field>
        <date-field
          label="Start Date"
          [control]="leaveDetails.get('startDate')"
          [error]="
            formService.fieldError(
              leaveDetails.get('startDate'),
              'startDate',
              validation
            )
          "
        ></date-field>
        <date-field
          label="End Date"
          [control]="leaveDetails.get('endDate')"
          [error]="
            formService.fieldError(
              leaveDetails.get('endDate'),
              'endDate',
              validation
            ) || leaveDetails.errors?.['endDate'] ? 'End Date Should be more than Start Date' :''
          "
          [errorStateMatcher]="errorStateMatcher"
        ></date-field>
      </div>
    </div>
  </div>
</form>
