<div class="calendar-action">
  <button mat-icon-button (click)="onCalendarChange(false)">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button mat-icon-button (click)="onCalendarChange(true)">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <span>
    {{ calendarTitle }}
  </span>
</div>
<ng-container *ngIf="type === 'month'">
  <month-view [collection]="dateCollection" [renderData]="data"></month-view>
</ng-container>
<ng-container *ngIf="type === 'week'">
  <app-week></app-week>
</ng-container>
<ng-container *ngIf="type === 'day'">
  <app-day></app-day>
</ng-container>
