<div class="flex space-between">
  <div *ngFor="let day of days" class="day-container">
    <p class="day-label">{{ day | slice : 0 : 3 }}</p>
  </div>
</div>

<mat-grid-list cols="7">
  <ng-container *ngFor="let item of collection">
    <mat-grid-tile
      class="day-tile"
      [ngClass]="{
        'inActive-day-tile': !!item?.isDisabled,
        'active-day-tile': !item?.isDisabled
      }"
    >
      <day-tile
        [item]="item"
        [renderData]="renderData"
        [users]="users"
        (onBarClick)="onBarClick($event)"
      ></day-tile>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
