:host ::ng-deep .mat-grid-tile-content {
  display: block;
}

.day-container {
  flex: 1;
}
.day-label {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 6px 6px 0px 0px;
}
.day-tile {
  border: 1px solid gray;
}
.inActive-day-tile {
  background-color: #e5e4e2;
}
.active-day-tile {
}
